#angular_form,
#expand_panel,
#snackbar,
#datepicker,
#tooltip,
#stepper,
#menu,
#drag,
#progress {
  text-align: center;
  margin: 1em;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
}
