<div class="container">
    <nav class="sidebar">
      <ul>
        <li><a routerLink="notes" routerLinkActive="active">Notes</a></li>
        <li><a routerLink="todo" routerLinkActive="active">To-Do</a></li>
        <li><a routerLink="folders" routerLinkActive="active">Folders</a></li>
        <li><a routerLink="categories" routerLinkActive="active">Categories</a></li>
        <li><a routerLink="settings" routerLinkActive="active">Settings</a></li>
      </ul>
    </nav>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  