/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 5vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 80vh;
  background-color: #0f0f11;
  color: #d5cbd1;
}

strong {
  font-weight: 500;
  color: rgb(255, 213, 0);
}
