<div id="container">
  <h1>GitHub User Repositories Searcher<br>using RxJS</h1>
  <div id="repo_searcher">
    <mat-form-field class="custom-style">
      <mat-label>Enter GitHub Username</mat-label>
      <input matInput [formControl]="searchControl">
    </mat-form-field>
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

  <div *ngIf="repos$ | async as repos">
    <mat-list>
      <mat-list-item *ngFor="let repo of repos">
        <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a>
        <p>{{ repo.description }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>